:root {
  /* Light theme colors */
  --background-color: #f0f0f0;
  --text-color: #000;
  --text-color-inversed: #fff;
  --text-days: #898989;
  --text-days-future: #c2c2c2;
  --container-bg-color: #fff;
  --button-bg-color: #f0f0f0;
  --button-hover-bg-color: #e0e0e0;
  --colors-switch: var(--primary-color);
}

[data-theme="dark"] {
  /* Dark theme colors */
  --background-color: #333;
  --text-color: #fff;
  --text-color-inversed: #444;
  --text-days: #c2c2c2;
  --text-days-future: #8a8a8a;
  --container-bg-color: #444;
  --button-bg-color: #777;
  --calendar-bg-color: #333;
  --button-hover-bg-color: #666;
  --input-bg-color: #555; /* Darker for inputs */
  --input-text-color: #fff; 
  --input-border-color: #666; 
  --colors-switch: var(--secondary-color);
}

[data-theme="dark"] .logo img {
  filter: invert(100%); /* Invert colors for dark theme */
  }

body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.github-logo{
  fill:var(--container-bg-color); 
  color:var(--text-color); 
  position: absolute; 
  top: 0; border: 0; right: 0; 
  aria-hidden="true";
  }
  

#appContainer {
    background-color: var(--container-bg-color);
    padding: 30px 30px 10px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorBox {
    width: 140px;
    height: 120px;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.colorInfo {
    text-align: center;
}

.colorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorTitle {
    font-weight: bold;
    margin-bottom: 8px;
}

.copyButton {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Lexend', sans-serif;
}

.copyButton:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--text-color);
}

.shareButton {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Lexend', sans-serif;
  margin-bottom: 30px;
  font-size: 1em;
}

.shareButton:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--text-color);
}

.description {
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 6px;
}

.highlight-color {
  color: var(--colors-switch);
}

#colorsContainer {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.logo {
  text-align: center !important;
} 

.logo img {
filter: none; 
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Smaller width */
  height: 24px; /* Smaller height */
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  transition: .4s;
  border-radius: 24px; /* Adjust for rounded corners */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* Adjusted for smaller slider */
  width: 18px; /* Adjusted for smaller slider */
  left: 3px; /* Adjusted for smaller slider */
  bottom: 3px; /* Adjusted for smaller slider */
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(16px); /* Adjusted for smaller slider */
}
@media (max-width: 768px) {
  #appContainer {
      background-color: transparent; /* Make background transparent */
      box-shadow: none; /* Remove shadow */
      border: none; /* Remove borders, if any */
      width: auto;
  }
  body {
    background-color: var(--container-bg-color);
}
.github-logo{
  fill:var(--background-color);
  color:var(--text-color); 
  position: absolute; 
  top: 0; border: 0; right: 0; 
  aria-hidden="true";
  }
  
  #countdownContainer {
    text-align: center;
    font-size: 1em;
  }
}

#countdownContainer {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
}
